
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400);

body {
font: normal normal 13px/16px "Open Sans", sans-serif;
background: #ffffff;
}

.container{
padding: 20px;
width: fit-content;
margin: 0 auto;
margin-top: 40px;
background: rgb(255, 255, 255);
border: 3px ridge rgb(202, 200, 200);
border-radius: 5px;}

form {
display: inline-block;
}

input{
padding: 4px 15px 4px 5px;
}

#button{
display: inline-block;
background-color:lightcoral;
color:#ffffff;
border-radius: 5px;
border: 0.5px solid black;
text-align:center;
margin-top:2px;
padding: 5px 15px;
}

#button:hover{
cursor: pointer;
opacity: .8;
border: 0.5px solid lightgray;
background-color: rgb(211, 112, 112);
}

ol {padding-left: 20px;}

ol li {padding: 5px;color:#000;}

ol li:nth-child(even){background: rgb(243, 188, 188)}

.strike{
	text-decoration: line-through;
}

li:hover{
  cursor: pointer;
 }

.delete {
	display: none;
}

li > crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}